a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.logo {
  margin: 0!important;
  padding: 0!important;
  width: 185px;
}

.custom-nav {
  background: #fff;
}

.navbar-brand{
  padding: 0!important;
}

.cloud-caption{
  font-size: 25px;
  position: relative;
  left: 43.5%;
}

.nav-link{
  font-size: 28px;
  font-weight: bold;
}

.nav-item{
  margin-left: 44px;
}

.text-dark{
  color: black!important;
}

.info-line{
  margin-left: 50px;
}